<% provide(:title, 'About Us') %>
<h1>About The Project</h1>
<p>
  The author of the website hopes this place will develope to an active community for people who want to share their comments and thoughts about Shakespeare with each others all around the world.
  It's the author's best wish that people under different cultures and from different places can communicate with
  those who may live on the other side of the world and can learn about what their thoughts are about Shakespeare.
</p>