<% provide(:title, 'About Us') %>
<h1>About The Project</h1>
<p>William Shakespeare is a world famous writer, but what does he mean to you in your life?
 A momentary connection between your feeling and him worth recording down. Post them! Post anything you see, you hear, you think, you read, you write, you watch, you remember, you note, you hate, you love, you imagine about him.
</p></br>
<p>The designer of the website hopes that this place can be an active community for people to share their thoughts and experience about Shakespeare through multimedia.
</p> </br>
<p>It's the designer's best wish that people under different cultures and from different places can communicate with
  those who may live on the other side of the world and can learn about their personal feelings and impressions of William Shakespeare.
</p>