<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Send me an email to ranliran@wpi.edu about
  what do you think of this community should be about,
  what would make it a better place for people who wants to share their comments about Shakespeare.
  All opinions are welcome and appreciated.
  <a href="mailto:ranliran@wpi.edu">Email Me</a>
</p>