<% provide(:title, 'Help') %>
<h1>Help</h1>
<h3>-How to post my thoughts?</h3>
<p>-After you register your account and log into it, you can see a "post" button. You can start posting your thoughts from there,enjoy!</p>
<h3>-what can I upload and how can I upload it?</h3>
<p>-The website supports audio and video.</p>
For audio:</br>
Please go to <a href="http://www.recordmp3.org/">http://www.recordmp3.org/</a> to record your audio.
After you finish your recording, the website will provide you a link.Copy the link. Paste it to the form that will pop up when you post.You can also watch the instruction youtube here:<a href="http://www.youtube.com">needToChange</a></br>
</br>
For video:</br>
Please go to youtube, upload it to there first, then copy the link and past it to the form that will pop up when you post. You can also watch the instruction youtube here:<a href="http://www.youtube.com">needToChange</a></br>


<h3>-I can't find my question here?</h3>
  Sorry about this. Please <a href="mailto:ranliran@wpi.edu">email me</a> if you can't find your answer here.
</p>